<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Passion+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>

    <title>Avengers Infographics</title>
</head>
<body>
    <div class="header">
      <h1 class="main-header">A STUDY IN THE AVENGERS</h1>
      <p>A comparison guide to the Avengers character types as seen on an average from the LEGO universe to the comic books.</p>
    </div>
    <main>
        <div class="side1">
        <div class="heROW1">
          <section id="hero1">
            <div class="label_wrapper">
              <h3 class="hidden">Captain America</h3>
              <object data="images/cap.svg" type="image/svg+xml" class="svg-graphic" id="captain-america-shield"></object>
              <span class="see-more" data-target="1">File >>></span>
            </div>
          </section>

          <section id="hero2">
            <div class="label_wrapper">
              <h3 class="hidden">Iron Man</h3>
              <object data="images/tony.svg" type="image/svg+xml" class="svg-graphic" id="iron-man-helmet"></object>
              <span class="see-more" data-target="2">File >>></span>
            </div>
          </section>

          <section id="hero3">
            <div class="label_wrapper">
              <h3 class="hidden">Black Widow</h3>
              <object data="images/widow.svg" type="image/svg+xml" class="svg-graphic" id="black-widow-symbol"></object>
              <span class="see-more" data-target="3">File >>></span>
          </section>
        </div>
        
        <div class="heROW2">
          <section id="hero4">
            <div class="label_wrapper">
              <h3 class="hidden">Hawkeye</h3>
              <object data="images/hawkeye.svg" type="image/svg+xml" class="svg-graphic" id="hawkeye-arrow"></object>
              <span class="see-more" data-target="4">File >>></span>
            </div>
          </section>

          <section id="hero5">
            <div class="label_wrapper">
              <h3 class="hidden">Thor</h3>
              <object data="images/thor.svg" type="image/svg+xml" class="svg-graphic" id="mjolnir"></object>
              <span class="see-more" data-target="5">File >>></span>
            </div>
          </section>

          <section id="hero6">
            <div class="label_wrapper">
              <h3 class="hidden">Hulk</h3>
              <object data="images/hulk.svg" type="image/svg+xml" class="svg-graphic" id="smash"></object>
              <span class="see-more" data-target="6">File >>></span>
            </div>
          </section>
        </div>

        <section class="popover">
          <h4 class="name">Name</h4>
          <p class="alias">Alias</p>
          <p class="profile"></p>
        </section>
      </div>

      <div class="side2">
        <div class="stats">
            <h4 class="imgTitle">HERO INFOGRAPHICS</h4>
            <img src="/images/cap-info.svg" id="statsImage" alt="statistics" class="statsSVG">
        </div>
      </div>

    </main>
    <script src="js/main.js"></script>
</body>
</html>